{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "node",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {},
      "webpack": {
        "config": "webpack.common.js"
      },
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".json",
          ".jsx",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "import/no-commonjs": "off",
    "node/no-unsupported-features/es-syntax": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}
