
#search-location-input {
    width: 85%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: var(--fs-body);
    font-family: var(--body-font);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    background-image: url("/search-icon.svg");
    background-repeat: no-repeat;
    padding-left: 2rem;
    background-position: 0.5rem;
}

div.css-yk16xz-control {
    background-color: rgba(255, 255, 255, 0);
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: var(--fs-body);
    font-family: var(--body-font);
    color: black;
}

div.css-1pahdxg-control, .css-1pahdxg-control:hover, .css-1pahdxg-control:focus, .css-1pahdxg-control:active {
    background-color: rgba(255, 255, 255, 0);
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: var(--fs-body);
    font-family: var(--body-font);
    color: black !important;
    box-shadow: none !important;
}

div.css-26l3qy-menu {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: var(--fs-body);
    font-family: var(--body-font);
    color: black !important;
    box-shadow: none !important;
}

.search-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


input#search-location-input::placeholder {
    color: black;
    opacity: 1;
}

#search-location-input:focus,
#search-location-input:active,
#search-location-input:hover {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}


#search-location-btn {
    width: 15%;
    border-radius: 0.5rem;
    border: none;
    font-size: var(--fs-body);
    font-family: var(--body-font);
    background-color: black;
    color: white;
    height: 3rem;
    margin-left: 0.5rem;

}

#search-location-btn:focus,
#search-location-btn:active,
#search-location-btn:hover {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    border-color: none;
    background-color: #a3a3a3;
    color: black;
}
