body {
    color: black;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    /* font-family: "Fira Code", monospace; */
}

.Header {
    padding: 60px;
    color: white;
    background: #a3a3a3;
    margin: 0;
    width: 100%;
    background-image: url("./assets/data-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
}