.footer-link {
    font-size: var(--fs-body);
    font-family: var(--header-font);
    color: white;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
    color: #a3a3a3;
}

.bottom-footer-txt {
    font-size: var(--fs-body);
    font-family: var(--header-font);
    color: white;
}

.bottom-footer-txt:hover,
.bottom-footer-txt:focus,
.bottom-footer-txt:active {
    color: #a3a3a3;
}
