.search-gif {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.landing-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('/clouds.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2em;

}

.landing-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.hero-headline{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 2em;
}
.hero-item-title {
    font-weight: bold;
}

.hero-info-item {
    margin: 2em 0;
    color: #fff;
}

.hero-item-button {

}

.landing-description {

}

.hero-item-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-item-list.div {
    width: 300px;
}